interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://panel.seohost.pl/login
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n    <script>\nwindow.dataLayer = window.dataLayer\
        \ || [];\ndataLayer = [[]];\n</script>\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n\
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n\
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n\
        })(window,document,'script','dataLayer','GTM-5G564M');</script>\n    <meta\
        \ charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1.0\">\n    <meta name=\"description\" content=\"\">\n   \
        \ <meta name=\"author\" content=\"Coderthemes\">\n\n    <!-- App favicon -->\n\
        \    <link rel=\"shortcut icon\" href=\"/images/brands/seohost-favicon.png\"\
        >\n    <!-- App title -->\n    <title>SeoHost.pl</title>\n\n    <!-- App css\
        \ -->\n    <style type=\"text/css\">\n        @import  url(https://fonts.googleapis.com/css?family=Varela+Round);\n\
        \        @import  'https://fonts.googleapis.com/css?family=Hind+Madurai:600,700';\n\
        \    </style>\n    <link href=\"/css/styles.d8ea057bf22552b79d04bcb9d50665da.css\"\
        \ rel=\"stylesheet\" type=\"text/css\"/>\n\n    <!-- HTML5 Shiv and Respond.js\
        \ IE8 support of HTML5 elements and media queries -->\n    <!-- WARNING: Respond.js\
        \ doesn't work if you view the page via file:// -->\n    <!--[if lt IE 9]>\n\
        \    <script src=\"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js\"\
        ></script>\n    <script src=\"https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js\"\
        ></script>\n    <![endif]-->\n\n    <script>\n        window.Laravel = {\"\
        csrfToken\":\"secrettoken\"}    </script>\n\n\
        \    \n</head>\n<body class=\"bg-transparent\">\n<noscript><iframe src=\"\
        https://www.googletagmanager.com/ns.html?id=GTM-5G564M\"\nheight=\"0\" width=\"\
        0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<!-- HOME\
        \ -->\n<section>\n    <div class=\"container-alt\">\n        <div class=\"\
        row\">\n            <div class=\"col-sm-12\">\n\n                <!-- start\
        \ content -->\n\n                    <div class=\"wrapper-page\">\n\n    \
        \    <div class=\"m-t-40 account-pages\">\n            <div class=\"text-center\
        \ account-logo-box\">\n                <h2 class=\"text-uppercase\">\n   \
        \                 <span>Zaloguj si\u0119</span>\n                </h2>\n \
        \               <!--<h4 class=\"text-uppercase font-bold m-b-0\">Sign In</h4>-->\n\
        \            </div>\n            <div class=\"account-content\">\n\n     \
        \           \n                <form class=\"form-horizontal noajax\" method=\"\
        post\" class=\"noajax\" action=\"https://panel.seohost.pl/login\">\n     \
        \               <input type=\"hidden\" name=\"_token\" value=\"secrettoken\"\
        >\n\n                    <div class=\"form-group  has-feedback \">\n     \
        \                   <div class=\"col-xs-12\">\n                          \
        \  <input type=\"email\" class=\"form-control\" name=\"email\" value=\"\"\n\
        \                                   placeholder=\"Adres e-mail\">\n      \
        \                      <span class=\"glyphicon glyphicon-envelope form-control-feedback\"\
        ></span>\n                                                    </div>\n   \
        \                 </div>\n\n                    <div class=\"form-group has-feedback\"\
        >\n                        <div class=\"col-xs-12\">\n                   \
        \         <input type=\"password\" class=\"form-control\" placeholder=\"Has\u0142\
        o\"\n                                   name=\"password\">\n             \
        \               <span class=\"glyphicon glyphicon-lock form-control-feedback\"\
        ></span>\n                                                    </div>\n   \
        \                 </div>\n\n                    <div class=\"form-group \"\
        >\n                        <div class=\"col-xs-12\">\n                   \
        \         <div class=\"checkbox checkbox-success\">\n                    \
        \            <input id=\"checkbox-signup\" type=\"checkbox\" name=\"remember\"\
        >\n                                <label for=\"checkbox-signup\">\n     \
        \                               Zapami\u0119taj mnie                     \
        \           </label>\n                            </div>\n\n             \
        \           </div>\n                    </div>\n\n                    <div\
        \ class=\"form-group text-center m-t-30\">\n                        <div class=\"\
        col-sm-12\">\n                            <a href=\"https://panel.seohost.pl/password/reset\"\
        \ class=\"text-[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://panel.seohost.pl/login
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\"\
        \ />\n        <meta http-equiv=\"refresh\" content=\"0;url='https://panel.seohost.pl/home'\"\
        \ />\n\n        <title>Redirecting to https://panel.seohost.pl/home</title>\n\
        \    </head>\n    <body>\n        Redirecting to <a href=\"https://panel.seohost.pl/home\"\
        >https://panel.seohost.pl/home</a>.\n    </body>\n</html>"
    headers:
      content-type:
      - text/html; charset=UTF-8
      location:
      - https://panel.seohost.pl/home
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://panel.seohost.pl/home
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n    <script>\nwindow.dataLayer = window.dataLayer\
        \ || [];\ndataLayer = [{\"event\":\"Login\",\"userID\":15971}];\n</script>\n\
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew Date().getTime(),event:'gtm.js'});var\
        \ f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n\
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n\
        })(window,document,'script','dataLayer','GTM-5G564M');</script>\n    <meta\
        \ charset=\"utf-8\">\n    <meta name=\"viewport\" conten[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://panel.seohost.pl/dns
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n    <script>\nwindow.dataLayer = window.dataLayer\
        \ || [];\ndataLayer = [{\"userID\":15971}];\n</script>\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n\
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n\
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://panel.seohost.pl/dns/66113
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n    <script>\nwindow.dataLayer = window.dataLayer\
        \ || [];\ndataLayer = [{\"userID\":15971}];\n</script>\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n\
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n\
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.a[...]
[...]
- request:
    body: dns_id=66113&domain=test-domain.pl&user_id=15971&record_type=TXT&record_name=delete.testfilt.test-domain.pl&record_prio=0&record_value=challengetoken&record_ttl=3600
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://panel.seohost.pl/dns/records
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\"\
        \ />\n        <meta http-equiv=\"refresh\" content=\"0;url='https://panel.seohost.pl/dns/66113'\"\
        \ />\n\n        <title>Redirecting to https://panel.seohost.pl/dns/66113</title>\n\
        \    </head>\n    <body>\n        Redirecting to <a href=\"https://panel.seohost.pl/dns/66113\"\
        >https://panel.seohost.pl/dns/66113</a>.\n    </body>\n</html>"
    headers:
      content-type:
      - text/html; charset=UTF-8
      location:
      - https://panel.seohost.pl/dns/66113
    status:
      code: 302
      message: Found
[...]
- request:
    body: _token=secrettoken
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: DELETE
    uri: https://panel.seohost.pl/dns/records/354370
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\"\
        \ />\n        <meta http-equiv=\"refresh\" content=\"0;url='https://panel.seohost.pl/dns/66113'\"\
        \ />\n\n        <title>Redirecting to https://panel.seohost.pl/dns/66113</title>\n\
        \    </head>\n    <body>\n        Redirecting to <a href=\"https://panel.seohost.pl/dns/66113\"\
        >https://panel.seohost.pl/dns/66113</a>.\n    </body>\n</html>"
    headers:
      content-type:
      - text/html; charset=UTF-8
      location:
      - https://panel.seohost.pl/dns/66113
    status:
      code: 302
      message: Found
[...]
